<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include("partials/navbar", {page : 'Bio'})%>

  <table border="1" width="0" >
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
      <tr>
        <td> <%= bio.name %> </td>
        <td> <%= bio.gender%> </td>
        <td> <%= bio.formatAge() %> </td>
        <td> <%= bio.email%> </td>
      </tr>
  </table>
</body>
</html>